body {
  height: 100%;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  padding: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.carousel {
  width: calc(100% -4rem);
  margin: 2rem;
}
.carousel-inner{
  border-radius: 2rem;
}
.carousel-caption {
  position: absolute;
  right: none;
  bottom: 40%;
  left: none;
  z-index: 10;
  padding-top: 2rem;
  padding-bottom: none;
  text-align: center;
}
.carousel-caption h1{
  font-size: 4.5rem;
}

.carasouel-custom .container{
  max-width: none;
}

.carousel-item img{
  height: 550px !important;
  object-fit: cover;
  border-radius: 2rem;
}
.carousel-item video{
  height: 550px !important;
  object-fit: cover;
  border-radius: 2rem;
}

.carasouel-custom{
  display: block;
  margin-top: 2%;
}
.charts{
  width: 85%;
  height: 100%;
}

.home-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem;
  width: calc(100% - 4rem);
}

.home-card:nth-child(1){
  background-image: url("./assests/images/back1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0;
}
.home-card:nth-child(2){
  background-image: url("./assests/images/snow-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.home-card:nth-child(3){
  background-image: url("./assests/images/city-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0;
}
.home-card .home-card-info{
  color: white;
  font-size: 25px;
  align-items: center;
  align-self:self-end;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px;
}


.home-card{
  border-radius: 2rem;
  margin: 2rem;
  background-color: #8CCEFA;
  height: 250px;
display: flex;
}


#map {
  position: absolute;
  margin-top: 2%;
  height: 60%;
  width: calc(100% - 4rem);
  margin: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

#pointer-data {
  z-index: 1;
  position: fixed;
  font-size: 20px;
  font-weight: 900;
  margin: 27px 0px 0px 10px;
  color:
    #fff;
  text-shadow: 0px 0px 10px #0007;
}

#variable-name {
  z-index: 1;
  position: fixed;
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0px 0px 10px;
  color:
    #fff;
  text-shadow: 0px 0px 10px #0007;
  text-transform: capitalize;
}

#time-info {
  width: 60vw;
  position: relative;
  bottom: 0;
  top: 360px;
  margin-top: 500px;
  z-index: 1;
  margin: 10px;
  text-shadow: 0px 0px 5px black;
  color:
    white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
}

#time-text {
  font-size: 12px;
  font-weight: 600;
}

#time-slider {
  width: 100%;
  height: fit-content;
  left: 0;
  right: 0;
  z-index: 1;
  filter: drop-shadow(0 0 7px #000a);
  margin-top: 10px;
}

#buttons {
  width: auto;
  margin: 0 10px;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 99;
}

.button {
  display: block;
  position: relative;
  margin: 10px 0 0 0;
  font-size: 0.9em;
}


.navbar button {
  margin: 5px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  animation: slideIn 0.5s ease forwards;
  opacity: 0;
  position: relative;
  /* top: -50px; */
}

.caraosel-link{
  color: white;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caraosel-link img{
  width: 15px;
  height: 15px;
  margin-top: 10px;
  font-weight: bold;
}
.caraosel-link:hover{
  cursor: pointer;
}


.login-container{
  top: 40;
  width: 100%;
  height: 50vw;
}

.login-form {
  padding: 20px;
  height: 25vw;
  width: 30vw;
  margin-left: 25%;
  margin-top: 10%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
  padding: 20px;
  height: 40vw;
  width: 30vw;
  margin-left: 35%;
  margin-top: 3%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.gif-overlay {
  position: absolute;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -50%);
  z-index: -100;
}

.gif-overlay video{
  object-fit: cover;
  width: 350px !important;
}





.top-weather-container {
  max-width: 90%;
  margin: 0 auto;
  animation: slideIn 0.5s ease forwards;
  opacity: 0;
  position: relative;
  top: -50px;
}

thead {
  color: #fdfdfd;
  background-color: rgb(191, 144, 174);
}

.table {
  width: 90%;
  margin: 0 auto;
  animation: slideIn 0.5s ease forwards;
}

.upper-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  margin: 10px 20px;
}
.city-info-card {
  margin-left: 40px;
  /* background-image: url("./assests/images/back-1.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
#city-left-card, #search-city-left-card{
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  width: 70%;
 
}

.sunrise-sunset-img {
  width: 50px;
  height: 50px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}

#button-close {
  margin-left: 30px;

}

#button-close:hover {
  cursor: pointer;
}

.top-five-card {
  width: calc(20% - 10px); /* Adjust width as needed */
  margin-right: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
    /* Other card styles */
}

.top-five-card:hover{
  cursor: pointer;
}
.card-img-top{
  height: 40px;
  width: 40px;
  margin-top: 12px;
  margin-left: 20px;
}
.night{
  background-image: url("./assests/images/night-2.jpeg");
  background-position: center;
  background-size: cover;
  color: white;
}
.morning{
  background-image: url("./assests/images/day-1.jpeg");
  background-position: center;
  background-size: cover;
}
.card-title{
  height: 50px;
}
.card-footer-ele{
  display: flex;
  justify-content: space-between;
}
.card-footer-ele .card-footer-container{
  margin: 2px;
}
.card-footer-ele .card-text{
  font-size: small;
}
.card-footer-ele .card-text-title{
  font-size: 10px;
}
.city-data-container, .search-city-data-container{
  padding-top: 5%;
}

.city-sub-div {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
}

.city-inner-div {
  margin: 30px;
}

.sunset ,.sunrise {
  margin-top: 15px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    top: -50px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

#error {
  display: none;
  animation: slideInError 0.5s ease forwards;
  opacity: 0;
}

@keyframes slideInError {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}