<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <%- include('./nav.ejs') %>
        <div class="container">
            <div>
                <h1>
                    <a href="" class="typewrite" data-period="2000"
                        data-type='[ "Type in the city name", "Get the weather . . ." ]'>
                        <span class="wrap"></span>
                    </a>
                </h1>
                <div class="form-group mt-3">
                    <input type="text" class="form-control" id="searchInput" placeholder="Enter city name">
                    <div id="searchSuggestions" class="list-group" style="display: none;"></div>
                </div>
                <button id="searchBtn" class="btn btn-primary">Search</button>
            </div>

        </div>
        <div id="search-city-data-container" class="city-data-container">
            <div id="close-button"></div>
            <div class="upper-info">
                <div class="city-info-card">
                    <div id="search-city-left-card"></div>
                </div>
                <div class="charts">
                    <canvas id="search-chart"></canvas>
                </div>
            </div>
            <!-- Content section for weather information -->
            <div class="table-with-data" id="weatherContent">
                <!-- Weather information will be dynamically updated here -->
            </div>
            <div id="search-pagination"></div>
        </div>

        <!-- Search box and search button -->


        <div class="top-weather-container mt-5">
            <h2 class="mb-4">Weather of Top 5 Cities</h2>
            <div class="card-deck" id="cityCards"></div>
        </div>

        <div id="city-data-container" class="city-data-container">
            <div class="upper-info">
                <div class="city-info-card">
                    <div id="city-left-card"></div>
                </div>
                <div class="charts">
                    <canvas id="weatherChart"></canvas>
                </div>
            </div>

            <div class="table-with-data" id="hourly-weather">
            </div>
            <div id="pagination"></div>
        </div>



        <!-- Link to Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Link to your JavaScript file -->
        <script src="../dashboard.js"></script>
</body>

</html>