<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <%- include('./nav.ejs') %>
    <div class="login-container">
        <div class="login-form">
          <h2>Login</h2>
          <form id="loginForm">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <div>Don't have an account? <button onclick="navToRegister()" class="btn btn-primary">Register</button></div>
          <div id="error" class="alert alert-danger mt-3"></div>
        </div>
      <div class="gif-overlay">
        <video src="../assests/images/video-login-edited.mp4" height="450" width="800" autoplay muted loop >
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../login.js"></script>
    <script>
      function navToRegister() {
        window.location.href = '/register';
    }
    </script>
</body>

</html>