<nav id="nav" class="navbar navbar-light bg-light">
    <div>
        <a class="navbar-brand" href="/">
            <img src="../assests/icons/day.png" width="30" height="30" alt="">
        </a>
    </div>
    <div>
        <button onclick="navigateToDashboard()" class="btn btn-sm btn-outline-secondary">Check Weather</button>
        <button onclick="navigateToRegisterPage()" class="btn btn-sm btn-outline-secondary">Register</button>
        <button onclick="navigateToLoginPage()" class="btn btn-sm btn-outline-secondary">Login</button>
    </div>
</nav>

<script>
    function navigateToDashboard() {
        if(localStorage.getItem('token') != undefined){
            window.location.href = '/dashboard';
        } else {
            alert("Please login to use this feature");
        }
        
    }

    function navigateToRegisterPage() {
        window.location.href = '/register';
    }


    function navigateToLoginPage() {
        window.location.href = '/login';
    }
</script>